<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>This is Caesar Cipher, this is what Julius Caesar used to do to messages that had military significance.</p>
        <br><p>It is a simple encryption method! Click one of the buttons to get started! </p>
    <br>
    <br>
    <form action="http://localhost:8081/encrypt">
        <input type="submit" value="To Encrypt String" />
    </form>
    <br>
    <br>
    <form action="http://localhost:8082/decrypt">
        <input type="submit" value="To Decrypt String" />
    </form>
</body>
</html>